.portfolio{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    .link{
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus{
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
            }
    
            &:hover .overlay,
            &:focus .overlay{
            transform: translate(0, 0);
            }
        }
    
    .overlay{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        padding: 63px 24px;
        transform: translate(0%, 110%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        width: 100%;
        height: 100%;
        background-color: $color-accent;
        
            &-text{
            display: block;
            }
            .text{
            @include font ($fw:400, $fs:18px, $lh:1.55);
            color: $color-secondary-text;
            }
            &-container{
            overflow: hidden;
            width: 100%;
            position: relative;
            }
        }
    .info{
        padding: 20px 24px;
        border-bottom: 1px solid $color-border-portfolio;
        border-right: 1px solid $color-border-portfolio;
        border-left: 1px solid $color-border-portfolio;
        box-sizing: border-box;

        .text{
            display: block;
            margin: 0;
            margin-bottom: 4px;

            @include font ($fw:400, $fs:16px, $lh:1.87);

        }
        .title{
            display: block;
            margin: 0;
            @include font ($fs:18px, $lh:2, $ls:0.06em);

        }
    }
}
@media screen and (max-width: 480px){
    .portfolio{
        .overlay{
            .text{
                @include font ($fw:400, $fs:17px, $lh:1.55);
            }
        }
        img{
            height: auto;
        }
    }
}

@media screen and (max-width: 767px){
    .portfolio{
        .item{
            width: 100%;

    
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .portfolio{
        justify-content: space-between;
        .item{
            width: 354px;
            margin-bottom: 30px;;
        
            &:nth-child(2n){
                margin-right: 0;
            }
    
            &:nth-last-child(-n + 2){
                margin-bottom: 0;
            }
            .info{

                height: 146px;
            }
            
        }
    }
}

@media screen and (min-width: 1200px){
    .portfolio{
        margin: 0;
        justify-content:center;
    
        .item{
            width: 370px;
            margin-bottom: 30px;
            margin-right: 30px;
    
            &:nth-child(3n){
            margin-right: 0;
            }
        
            &:nth-last-child(-n + 3){
            margin-bottom: 0;
            }
        }
    }
}








    // .link{
    // transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    //     &:hover,
    //     &:focus{
    //     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    //     0px 4px 4px rgba(0, 0, 0, 0.06),
    //     1px 4px 6px rgba(0, 0, 0, 0.16);
    //     }

    //     &:hover .overlay,
    //     &:focus .overlay{
    //     transform: translate(0, 0);
    //     }
    // }

    // .overlay{
    // position: absolute;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // top: 0;
    // left: 0;
    // padding: 63px 24px;
    // transform: translate(0%, 100%);
    // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // width: 100%;
    // height: 100%;
    // background-color: $color-accent;
    
    //     &-text{
    //     display: block;
    //     }
    //     .text{
    //     @include font ($fw:400, $fs:18px, $lh:1.55);
    //     color: $color-secondary-text;
    //     }
    //     &-container{
    //     overflow: hidden;
    //     width: 100%;
    //     position: relative;
    //     }
    // }
    // .info{
    // padding: 20px 24px;
    // border-bottom: 1px solid $color-border-portfolio;
    // border-right: 1px solid $color-border-portfolio;
    // border-left: 1px solid $color-border-portfolio;
    // box-sizing: border-box;
    // }
// }    

//     .search {
//         .title{
//         margin-top: 0;
//         margin-bottom: 4px;
//         color: $color-title;
//         @include font ($fs:18px, $lh:2, $ls:0.06em);
//         }

//         .text{
//         margin: 0;
//         @include font ($fs:16px, $lh:1.87);
//         }
//     }    