html{
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    background-color: $color-primary-background;
    color: $color-title;
    font-family: 'Roboto', sans-serif;
    @include font();
}

li {
    list-style-type: none; 
}

a {
    display:block;
    text-decoration: none;
    color: inherit;
}

.text{
    color: $color-primary-text;
    @include font($fw:400);
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    }

.container{
    margin:0 auto;
    width: 100%;
    padding: 0 15px;
}

.invisible{
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    padding: 0;
    border-radius: 4px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;

    background-color: $color-accent;
    color: $color-secondary-text;


    @include font ($fs:16px, $lh:1.875, $ls:0.06em);

    cursor: pointer
}   


@media screen and (max-width: 1199px){
    .global-title{
        display: block;
        margin-bottom: 30px;
        margin-top: 0;
    
        @include font($fs:28px, $lh:1.178em);
        text-align: center;
    }
}


@media screen and (min-width: 1200px){
    .global-title{
        display: block;
        margin-bottom: 50px;
        margin-top: 0;
    
        @include font($fs:36px, $lh:1.16em);
        text-align: center;
    }
}